@import url('https://fonts.googleapis.com/css2?family=Ingrid+Darling&family=Istok+Web:ital@1&family=Open+Sans&family=Poppins:ital,wght@0,400;1,500;1,800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Istok Web;
    font-style: normal !important;
}

body{
    background-color: #1C3259;
}

.welcomepage{
    color: #3583E9 !important;
    height: 100vh;
}

.welcomepage h1{
    font-size: 50px !important;
}

.welcomepage img{
    width: 300px;
}

.welcomepage button{
    color: #3583E9;
    border: 3px solid #3583E9;
    border-radius: 30px;
    font-weight: normal;
    transition: all .3s;
}

.welcomepage button:hover{
    border: 3px solid #3583E9;
    color: white;
    background-color: #3583E9;
}

.mainpage{
    color: white;
}

.bodychangediv button{
    color: #3583E9;
    border: 3px solid #3583E9;
    font-weight: normal;
    transition: all .3s;
    background-color: transparent;
}

.bodychangediv button:hover{
    border: 3px solid #3583E9;
    color: #fff;
    background-color: #3583E9;
}

.headerdiv{
    width: 100%;
    color: #3583E9;
}

.headerimg{
    width: 60px;
}

.heading{
    text-align: center;
    color: #3583E9;
    margin-bottom: 30px;
    font-size: 45px;
}

.singlecard{
    background-color: #3583E9;
    border-radius: 15px;
    padding-top: 15px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 40px;
}

.btnofchangeme{
    background-color: #3583E9;
    color: white;
}
.btnofchangeme{
    color: #3583E9;
    border: 3px solid #3583E9;
    font-weight: normal;
    transition: all .3s;
    background-color: transparent;
    padding: 10px 40px;
    filter: drop-shadow(1px 2px 10px rgba(255,255,255,30%));
}

.btnofchangeme:hover{
    border: 3px solid #3583E9;
    color: #fff;
    background-color: #3583E9;
}

.resultdiv{
    background-color: rgba(53, 131, 233, 39%);
    width: 100%;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

table{
    width: 100%;
}

.firstrow{
    margin-right: auto;
}